<html>
<head>
	<title>emTour Travel Agency</title>	
</head>
<body bgcolor="white">
	<table style="width:100%; height:100%; background-color:#ffffff" cellspacing="0" cellpadding="20">
		<tr height="100">
			<td colspan="2" bgcolor="AliceBlue" align="center">
				<h2 align="left">emTour Travel Agency
				<img align="right" src="emTourLogo.png" height="50" width="150"/></h2>
			</td>
		</tr>
		<tr>					
			<td valign="top">
				<h3 align="left">Please fill the form below..</h3>
				<hr width="500" size="3" align="left" color="grey" />
				<form role="form" name="form">
					<div class="form-group">	
						Budget:<br><input type="number" class="form-control" value="0" ,min ="0" style="width:170px;"
											cam-variable-type="Double"
											cam-variable-name="budget"
											name="budget" />					
					</div>				
					<div class="form-group">
						<label>Preferred Destination</label><br>
						<select  style="width:170px;" class="form-control"
											cam-variable-type="String"
											cam-variable-name="country"
											cam-choices="Possible_desiredCountry"
											name="country" >
							<option value="Hungary">Hungary</option>
							<option value="Italy">Italy</option>
							<option value="Turkey">Turkey</option>
							<option value="Georgia">Georgia</option>
							<option value="Czech Republic">Czech Republic</option>
							<option value="India">India</option>
							<option value="Cambodia">Cambodia</option>
							<option value="Bolivia">Bolivia</option>
							<option value="Honduras">Honduras</option>
							<option value="Maldives">Maldives</option>
							<option value="France">France</option>
							<option value="Bali">Bali</option>
							<option value="USA">USA</option>
							<option value="Dubai">Dubai</option>
							<option value="Norway">Norway</option>
							<option value="Australia">Australia</option>
							<option value="UK">UK</option>
							<option value="Shanghai">Shanghai</option>
							<option value="20">Israel</option>
						</select>
					</div>
					<div class="form-group">
						<label>Travel dates</label><br>
						From:<br>
						<p class="input-group">
							<input  class="form-control" style="width:170px;"
								cam-variable-type="Date"
								cam-variable-name="travelStartDate"
								name="travelStartDate" 
								datepicker-popup="yyyy-MM-dd'T'HH:mm:ss"
	      						is-open="dateFieldOpened2"
	      						ng-click="open2($event)"/>
						 </p>
					</div>			 
					<script cam-script type="text/form-script">
						$scope.open2 = function($event) {
						$event.preventDefault();
						$event.stopPropagation();
						$scope.dateFieldOpened2 = true;
						};
					</script>
					<div class="form-group">	
						To:<br>	
						<p class="input-group">
							<input class="form-control" style="width:170px;"
								cam-variable-type="Date"
								cam-variable-name="travelEndDate"
								name="travelEndDate" 
								datepicker-popup="yyyy-MM-dd'T'HH:mm:ss"
	      						is-open="dateFieldOpened3"
	      						ng-click="open3($event)"/>
						</p>
					</div>
					<script cam-script type="text/form-script">
							$scope.open3 = function($event) {
							$event.preventDefault();
							$event.stopPropagation();
							$scope.dateFieldOpened3 = true;
							};
					</script>					
					<label>Customer Information</label>									
					<div class="form-group">
						First name:<br><input type="text" class="form-control" style="width:170px;"
											cam-variable-type="String"
											cam-variable-name="name"
											name="name" />
					</div>					
					<div class="form-group">
						Last name:<br><input type="text" class="form-control" style="width:170px;"
										cam-variable-type="String"
										cam-variable-name="lastName"
										name="lastName" />
					</div>
					<div class="form-group">
						Birth Date:<br>
						<p class="input-group">
							<input class="form-control" style="width:170px;"
									cam-variable-type="Date"
									cam-variable-name="birthDate"
									name="birtDate" 
									datepicker-popup="yyyy-MM-dd'T'HH:mm:ss"
	      							is-open="dateFieldOpened"
	      							ng-click="open($event)"/>
						</p>						
					</div>					
					<script cam-script type="text/form-script">
							$scope.open = function($event) {
							$event.preventDefault();
							$event.stopPropagation();
							$scope.dateFieldOpened = true;
							};
					</script>
					<div class="form-group">
						Email:<br><input type="email" class="form-control" style="width:170px;"
											cam-variable-type="String"
											cam-variable-name="email"
											name="email" />
					</div>
					<label>Number of Travellers</label>
					<div class="form-group">	
						Adults: <br><input type="number" class="form-control" value="1" min="1" style="width:80px;"
											cam-variable-type="Integer"
											cam-variable-name="adult"
											name="adult" />
					</div>
					<div class="form-group">
						Children:<br><input type="number" class="form-control" value="0" min="0" style="width:80px;"
											cam-variable-type="Integer"
											cam-variable-name="children"
											name="children" />
					</div>
				</form>				
			</td>
		</tr>
				
		<tr height="40">
			<td bgcolor="white" colspan="2" align="center">
				<font size="-1" color="black" face="Arial">Copyright &copy; 2017 - All Rights Reserved</font>
			</td>
		</tr>
	</table>	
</body>
</html>